X="/dev/null"
xx="/data/data/com.pubg.imobile"
xXx="$xx/lib"
CD="$xx/shared_prefs/admob.xml"

DOWNLOAD_AND_SETUP ()
{
wget https://github.com/errorishere/DEVTA/raw/T_O_X_I_C/BumBum.lua -O P.lua &> $X
echo "Download Done"
rm -rf $xXx/{libdiscord_connect_sdk_android.so,libBugly.so,libgamemaster.so,libgcloudarch.so,libhelpshiftlistener.so,liblbs.so,libnpps-jni.so,libst-engine.so,libtgpa.so,libzip.so} &> $X
rm -rf $xx/app_lib && touch $xx/app_lib &> $X
}

FUNCTION_X ()
{
#ByW62
am force-stop com.tencent.ig:imsdk_inner_webview  && am force-stop com.tencent.ig:networkDetector  && am force-stop com.tencent.ig:playcore_missing_splits_activity  && am force-stop com.tencent.ig:plugin  && am force-stop com.tencent.ig:remoteWeb  && am force-stop com.tencent.ig:vlink &> $X
sleep 1
am force-stop com.tencent.ig:imsdk_inner_webview  && am force-stop com.tencent.ig:networkDetector  && am force-stop com.tencent.ig:playcore_missing_splits_activity  && am force-stop com.tencent.ig:plugin  && am force-stop com.tencent.ig:remoteWeb  && am force-stop com.tencent.ig:vlink &> $X
sleep 1
am force-stop com.tencent.ig:imsdk_inner_webview  && am force-stop com.tencent.ig:networkDetector  && am force-stop com.tencent.ig:playcore_missing_splits_activity  && am force-stop com.tencent.ig:plugin  && am force-stop com.tencent.ig:remoteWeb  && am force-stop com.tencent.ig:vlink &> $X
sleep 1
am force-stop com.tencent.ig:imsdk_inner_webview  && am force-stop com.tencent.ig:networkDetector  && am force-stop com.tencent.ig:playcore_missing_splits_activity  && am force-stop com.tencent.ig:plugin  && am force-stop com.tencent.ig:remoteWeb  && am force-stop com.tencent.ig:vlink &> $X
}

FUNCTION_Y ()
{
chmod -R 000 $xXx/{libUE4.so,libtersafe.so,libtprt.so,libTDataMaster.so} &> $X
}

FUNCTION_Z ()
{
chmod -R 755 $xXx/{libUE4.so,libtersafe.so,libtprt.so,libTDataMaster.so} &> $X
rm -rf LAWDA_LELE_BRO.rc
}
